!!! 5
/ Conditional comment for mobile ie7 blogs.msdn.com/b/iemobile/
/[if IEMobile 7 ] <html class="no-js iem7" lang="en">
/[if (gt IEMobile 7)|!(IEMobile)]><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}
      %title Mobile Boilerplate Lite
      %meta{:content => "", :name => "description"}
      / Mobile viewport optimization h5bp.com/ad
      %meta{:content => "width=device-width", :name => "viewport"}
      / Home screen icon  Mathias Bynens mathiasbynens.be/notes/touch-icons
      / For third generation iPad Retina Display
      %link{:href => "img/touch/apple-touch-icon-144x144-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}/
      / For iPhone 4 with high-resolution Retina display:
      %link{:href => "img/touch/apple-touch-icon-114x114-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}/
      / For first-generation iPad:
      %link{:href => "img/touch/apple-touch-icon-72x72-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}/
      / For non-Retina iPhone, iPod Touch, and Android 2.1+ devices:
      %link{:href => "img/touch/apple-touch-icon-57x57-precomposed.png", :rel => "apple-touch-icon-precomposed"}/
      / For nokia devices:
      %link{:href => "img/touch/apple-touch-icon.png", :rel => "shortcut icon"}/
      / Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading
      %meta{:content => "on", "http-equiv" => "cleartype"}
      / more tags for your 'head' to consider h5bp.com/d/head-Tips
      / Main Stylesheet
      %link{:href => "css/style.css", :rel => "stylesheet"}
      / All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects
      %script{:src => "js/libs/modernizr-2.0.6.min.js"}
  %body
    #container
      %header
      #main{:role => "main"}
        %h1 Mobile Boilerplate Lite
      %footer

    / scripts concatenated and minified via ant build script
    %script{:src => "js/helper.js"}
    / end concatenated and minified scripts

    / Debugger - remove for production
    / <script src="https://getfirebug.com/firebug-lite.js"></script>

    / Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID. mathiasbynens.be/notes/async-analytics-snippet
    %script
      var _gaq=[["_setAccount","UA-XXXXX-X"],["_trackPageview"]];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
      g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
      s.parentNode.insertBefore(g,s)}(document,"script"));

  / load Zepto.js
  %script{:src => "js/zepto.min.js"}
  / use this version if you need fallback to Google's jQuery CDN
  / <script>document.write('<script src=' + ('__proto__' in {} ? 'js/zepto' : '//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery') + '.min.js><\/script>')</script>
  / uncomment to test Zepto
  / <script>Zepto(function($) { alert('Zepto is working!') })</script>